/* styles/main.css */

/**
 * NOTE:
 * This CSS file must be compiled using a tool like PostCSS, as it includes 
 * Tailwind CSS directives (`@apply`, `@import`, etc.) and custom utilities 
 * that require processing before being used in production.
 * 
 * Make sure to run the appropriate build/compile command:
 * 
 * Example (in my terminal):
 *   npx tailwindcss -i ./src/styles/main.css -o ./dist/output.css --watch
 *
 * For development with nodemon:
 * nodemon --watch styles/main.css --exec "npx postcss styles/main.css -o dist/output.css\"
 */


@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Custom CSS Variables */
:root {
    --recipes-grid-bg-color: lightgray;
    --highlight-color: #FFD15B;
    --bg-white: white;
}

/* Body */
body {
  @apply bg-gray-100 mx-auto max-w-7xl px-8;
}

main {
  @apply px-0 pt-4 pb-12;
}

h1, h2, h3 {
  font-family: 'Anton', sans-serif;
}

/* Hero Section */

.hero {
  @apply relative bg-center h-[667px]
    bg-[url('../assets/hero-background.jpg')];
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1000ms forwards;
}

.hero-logo {
  @apply absolute top-8 left-8 p-4;
}

.logo-image {
  @apply w-1/2;
}

.hero-content {
  @apply h-full flex flex-col items-center justify-center fade-in;
}

.hero-title {
  @apply text-4xl leading-[3.5rem] mb-3 text-center;
  color: var(--highlight-color);
}

.search-bar {
  @apply w-2/3 mt-8 rounded-xl opacity-0;
  animation: fadeIn 1000ms forwards 500ms;
  transition: box-shadow 0.3s;
}

.search-bar:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6);
}

.hero-form {
  @apply flex justify-center items-center;
}

.input-wrapper {
  @apply w-full relative;
}

.hero-input {
  @apply text-xl px-4 py-3 rounded-l-xl w-full text-black leading-10;
}

.hero-button {
  @apply py-2 pr-2 rounded-r-xl bg-white;
}

.clear-icon {
  @apply hidden absolute -top-[24%] right-[2%] text-gray-400 text-[3.5rem] cursor-pointer
    transition-colors duration-200 ease-in hover:text-gray-800;
}

.no-recipes-message {
  @apply hidden text-center text-2xl text-gray-800 mt-8;
}

.search-term {
  @apply font-semibold;
}

/* Filters Section */

.filters-section {
  @apply mt-4 flex px-0 justify-between;
}

.filters {
  @apply flex grow items-start justify-between max-w-[700px];
}

.recipes-counter {
  @apply p-1 whitespace-nowrap text-lg font-bold;
}

/* Dropdowns */

.dropdown {
  @apply rounded-lg mr-4 flex flex-col w-[30%] max-w-[200px];
}

.dropdown-button { 
  @apply flex items-center w-full justify-between px-3 py-2 
    rounded-lg text-left bg-white;
}

.dropdown i {
  @apply ml-auto pl-2;
}

.dropdown-content {
  @apply py-2 rounded-b-lg hidden -mt-1 bg-white;
}

.searchInput {
  @apply p-2 mx-3 mt-1 mb-3 border border-gray-300 outline-none w-[88%];
}

.itemsList {
  @apply max-h-[200px] overflow-y-auto list-none p-0 m-0;
}

.dropdown-item {
  @apply px-3 py-1 text-sm rounded-lg cursor-pointer hover:bg-[var(--highlight-color)];
}

.filter-selected {
  @apply mt-4 ml-0 hidden rounded-lg flex flex-wrap overflow-visible;
}

.filter-selected .tag-wrapper {
  @apply mt-0 mb-2 ml-0 mr-2 pl-3 pr-2 py-1 rounded-lg flex-grow-0 
    bg-[var(--highlight-color)];
}

.filter-selected .tag-content {
  @apply text-sm text-nowrap;
  white-space: nowrap;
}

.filter-selected .remove-tag {
  @apply ml-2 mr-1 inline-block text-gray-500 text-base 
    cursor-pointer hover:text-black hover:shadow-xl hover:scale-150;
}

/* Recipes Grid */

.recipes-grid {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3
    gap-12 gap-y-20 py-8 px-0 justify-between;
}

.section-title {
  @apply text-3xl font-bold mb-6 text-center;
}

.recipe-card {
  /* Uncomment as necessary */
}

.image-container {
  @apply relative;
}

.recipe-card-content {
  @apply bg-white p-6 rounded-2xl shadow-sm h-[27rem] overflow-auto;
}

.recipe-card-content:hover {
  @apply shadow-2xl;
}

.recipe-image {
  @apply w-full h-60 object-cover rounded-t-xl;
}

.recipe-time-badge {
  @apply text-sm px-4 py-1 rounded-full absolute top-4 right-4 z-10 bg-[var(--highlight-color)];
}

.recipe-nested-title {
  @apply text-sm;
}

.ingredients-list {
  @apply grid grid-cols-2 gap-4;
}

.ingredient-item {
  @apply mb-3;
}

.ingredient-title {
  @apply text-sm font-bold;
}

.ingredient-quantity {
  @apply text-sm;
}

.recipe-content-text {
  @apply text-sm;
}

.recipe-title {
  @apply text-xl font-bold mb-4;
}

.recipe-description {
  @apply text-sm leading-tight;
}

figure h4 {
  @apply text-sm mt-6 mb-2;
}
